*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    background-color: #6FB2D2;
}
.title{
    display:flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    text-align: center;
    height: 70px;
    background-color: #EBD671;
}
.index{
    width: 100%;
    text-align: center;
    height: 800px;
    display:flex;
    justify-content: space-around;
    align-items: center;
}
.box{
    width: 300px;
    background-color:#85C88A;
    height: 80px;
    display:flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    box-shadow: 13px 13px;
    transition     : 0.5s;
}
.box:hover{
    display:flex;
    justify-content: center;
    align-items: center;

    width: 300px;
    height: 80px;
    background-color:#5cb162;
    border-radius: 50px;
    box-shadow: none;
    transform: translate3d(13px , 13px , 0px)
}
.aTag{

    font-size: 30px;
    text-decoration:none; 
    color: black;
}
.box_parent0{
    position:relative;
}
.PC{
    position:absolute;
    height: 100px;
    left: -40px;
    top: -30px;
}
.box_parent1{
    position:relative;
}
.EN{
    position:absolute;
    height: 100px;
    left: -30px;
    top: -30px;
}
.box_parent2{
    position:relative;
}
.BOKI{
    position:absolute;
    height: 100px;
    left: -30px;
    top: -30px;
}

/*テキスト　プログラミング　Java*/
.text0::before{
    font-size: 23px;
    content: "プログラミング";
    position:absolute;
    top: 26px;
    left: 90px;
    transition: 0.6s;

}
.box_parent0:hover .text0::before{
    transform: translateX(80px);
    opacity: 0;
}
.text0::after{
    content: "Java";
    position:absolute;
    left: -20px;
    top: 20px;
    opacity: 0;
    transition: 0.6s;
}
.box_parent0:hover .text0::after{
    content: "Java";
    transform: translateX(140px);
    opacity: 1;
}
/*テキスト　英語　English*/
.text1::before{
    content: "英語";
    position:absolute;
    top: 26px;
    left: 130px;
    transition: 0.6s;

}
.box_parent1:hover .text1::before{
    transform: translateX(80px);
    opacity: 0;
}
.text1::after{
    content: "English";
    position:absolute;
    left: -20px;
    top: 26px;
    opacity: 0;
    transition: 0.6s;
}
.box_parent1:hover .text1::after{
    transform: translateX(140px);
    opacity: 1;
}